@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-default {
  @apply bg-white text-gray-700 border-solid border border-gray-200;
}

.btn-active {
  @apply bg-gray-700 text-white border-solid border border-gray-200;
}

button:hover {
  cursor: pointer;
  transform: scale(0.9);
}